@import '../../node_modules/normalize.css/normalize.css';

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 1em;
}

.fa-ul > li {
    margin: 1em;
}
